@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe WP', sans-serif;
    color:#ae8601;
}
/*header*/
.header{
    width: 100%;
    position: absolute;
}
.container{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
}
.logo {
    display: flex;
    margin-right: 45rem;
    margin-top: 1rem;
}
.logo h1{
    margin-top: 1rem;
    margin-left: 0.3rem;
    color: #fbf4ed;
    font-size: 2.5rem;
    font-family:'Lucida Sans italic', 'Lucida Sans Regular',  sans-serif;
    font-weight: 300;
    font-style: italic;
}
.menu{
    margin-top: 2.7rem;
    background-color: #f6c506;
    position: absolute;
    margin-left: 36rem;
    width: 461px;
    height: 49px;
    box-shadow: -5px -5px 0px -1px #9c8009, -8px -9px 0px -1px #9c8009;
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.menu ul li{
    color: #ae8601;
    padding: 0.8rem 1rem;  
}
.menu a{
    font-size: 17.05px;
}
.menu ul li:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
}
@media  (max-width: 1200px) {
    .logo {
        margin-right: 40rem;
    }
    .menu{
        margin-left: 30rem;
    }
    }
@media (max-width: 992px) {
    .logo {
        margin-right: 30rem;
    }
    .menu{
        margin-left: 20rem;
    }
    .logo h1{
        font-size: 2rem;
    }
    .menu{
        width: 410px;
        height: 41px;
    }
    }  
@media (max-width: 768px) {
    .logo {
        margin-right: 22rem;
    }
    .logo img{
        width:39px;
        height:39px;
    }
    .menu{
        margin-left: 14rem;
    }
    .logo h1{
        font-size: 1.5rem;
    }
    .menu{
        width: 320px;
        height: 35px;
    }
    .menu ul li{
        padding: 0.2rem;  
    }
    .menu a{
        font-size: 15.05px;
    }
    } 
@media  (max-width: 640px) {
    .nav{
        max-width:100%;
        height: 62px;
    } 
    .logo{
        width: 186px;
        height: 62px;
        margin-left: 0rem;
        margin-top: 0rem;
        background-color: #707070;
        padding-top: 0.4rem;
        position: fixed;
    }
    .container{
        display: flex;
        flex-direction: row; 
        justify-content:flex-start;
    }
    .menu{
        box-shadow: none;
        width: 455px;
        height: 62px;
        margin-left: 11rem;
        margin-top: 0rem;
        padding-top:1rem;
        position: absolute;
        position: fixed;
    }
    .logo h1{
        font-size:19.29px;
    }
    .menu a{
        font-size: 19.05px;
    }

    }  
      
/*section1*/
.mobile{
    display: none;
}
.section1{
    width:100%;
    height: 75vh;
}
.background{
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider{
    display: flex;
    flex-direction: row;
    justify-content:center;  
}
.slider-image{
    position: absolute;
    top: 10rem;
    width: 34rem;
    height: 20rem;
    margin-right: 30rem;   
}
.slider-image:hover{
    cursor:pointer ;
}
.slider-text{
    position: absolute;
    top: 15rem;
}
.slider-text1{
    color: #efc00e;
    font-size: 3.9rem;
    letter-spacing: 0.1rem;
    margin-left: 37rem;
    font-family: 'Asap', sans-serif;
    font-weight: 300;
}
.slider-text2{
    color: #ffffff;
    font-size: 3.9rem;
    letter-spacing: 0.1rem;
    margin-left: 34rem;
    font-family: 'Asap', sans-serif;
    font-weight: 300;
}
.arrow1{
    position: absolute;
    top: 19rem;
    background-color: #c5a10b;
}
.arrow1 :hover{
    cursor: pointer;
}
.arrow2{
    position: absolute;
    top: 19rem;
    right: 0rem;
    background-color: #c5a10b;  
}
.arrow2 :hover{
    cursor: pointer;
}

@media (max-width: 1200px) {
    .slider-image video{
        width: 30rem;
        height: 18rem;
    }
    .slider-image{
        margin-right: 25rem; 
    }
    .slider-text1{
        font-size: 3.7rem;
    }
    .slider-text2{
        font-size: 3.7rem;
    }
    }
@media (max-width: 992px) {
    .slider-image video{
        width: 24rem;
        height: 16rem;
    }
    .slider-image{
        margin-right: 12rem;
        
    }
    .slider-text1{
        margin-left: 24rem;
        font-size: 2.2rem;
    }
    .slider-text2{
        margin-left: 24rem;
        font-size: 2.2rem;
    }
   
    }
@media (max-width: 768px) {
    .slider-image video{
        width: 18rem;
        height: 16rem;
    }
    .slider-image{
        margin-right: 0rem; 
    }
    .slider-text1{
        margin-left: 16rem;
        font-size: 1.8rem;
    }
    .slider-text2{
        margin-left: 16rem;
        font-size: 1.8rem;
    }
   
    }
@media (max-width: 640px) {
    .section1{
        display: none;
    }
    .mobile{
        display: flex;
        visibility: visible;
    }
    .mobile video{
        width: 640px;
        height:390px;
        margin-top: 3.4rem;
        margin-left:-0.4rem;
    }
    .mobile video:hover{
        cursor: pointer;
    }
}
/*section2*/
.section2{
    background-color:#fbfbfb;
    width: 100%;
    height: 25vh;
}
.container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center; 
}
.container2 h3{
    color: #000000;
    font-size: 1.7rem;
    font-family:'Segoe UI',  sans-serif;
    font-weight: 300;
}
.container2 h3:hover{
    text-shadow: 2px 2px 5px #F5C506;
    cursor: pointer;
}
.design{
    width: 22%;
    height: 25vh;
    border: 0.05rem  #d2d2d2 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
}
.customize{
   width: 22%;
   height: 25vh;
   border: 0.05rem #d2d2d2 solid ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align:center;
   align-items: center;  
}
.its{
    width: 22%;
    height: 25vh;
    border: 0.05rem #d2d2d2 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
}

@media (max-width: 992px) {
    .container2 h3{
        font-size: 1.4rem;
    }
}
@media  (max-width: 768px) {
    .container2 h3{
        font-size: 1.2rem;
    }
    .design{
        width:25%;
        padding-top: 1rem;
    }
    
    .customize{
        width:25%;
        padding-top: 1rem;
    }
   
    .its{
        width:25%;
        padding-top: 1rem;
    }
    
}
@media (max-width: 640px) {
    .section2{
        width: 100%;
        margin-top: -0.5rem;
    }
    .container2{
        width: 630px;
    }
    .container2 h3{
        font-size: 1.2rem;
    }
    .design{
        width:33.3%;
        padding-top: 0.8rem;
        border:none;
    }
    .customize{
        width:33.3%;
        padding-top: 0.8rem;
        border:none;
    }
    .its{
        width:33.3%;
        padding-top: 0.8rem;
        border:none;
    }
    .design:hover{
        border:1px solid #949292ee ;
    }
    .customize:hover{
        border:1px solid #949292ee ;
    }
    .its:hover{
        border:1px solid #949292ee ;
    }
}

/*section 3*/

.section3{
    width:100%;
    height: 67vh;
}
.container3{
    display: flex; 
}
.backimg{
    width:100%;
    height: 67vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.lorem-text{
    position: absolute;
    margin-left: 16rem;
    color: #ffffff;
    margin-top: 2rem;
    font-size: 2.3rem;
    font-family:'Asap', 'sans-serif';
    font-weight: 300;
}
.lorem{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    position: absolute;
    margin-top: 6rem;
    margin-left: 16rem;
}
.lorem1{
    width: 315px;
    height: 229px;
    background-color: #ed9e03;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
    margin-right: -0.2rem;
}
.lorem1 p{
    color: #ffffff;
    font-size: 1.8rem; 
}
.lorem2{
    width: 315px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;  
}
.lorem3{
    width: 315px;
    height: 229px;
    background-color: #ed9e03;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
    margin-left: 2rem; 
}
.number{
    position: absolute;
    top:0.4rem;
    right:0.6rem;
    color: #ffffff;
    font-size: 1.5rem;
}
.plus{
    position: absolute;
    bottom: 0.5rem;
    color: #ffffff; 
    font-size: 1.4rem;
    margin-left: 18rem; 
}
.plus1{
    position: absolute;
    bottom:0.5rem;
    color: #ffffff; 
    font-size: 1.4rem;
    right:0.6rem;
}
.plus:hover{
    cursor:pointer;
    transform: scale(2,2);
}
.plus1:hover{
    cursor:pointer;
    transform: scale(2,2);
}
.lorem-date{
    width: 113px;
    height: 86px;
    background-color: #dcb102;
    position: absolute;
    margin-top: 20.5rem;
    margin-left: 16rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.date{
    color: #ffffff;
    font-size:2.2rem;
    letter-spacing: 0.2rem;
    font-weight: 800;
}
.month{
    color:#b07008;
    font-size:1.6rem;
}
.progressbar{
    position: absolute;
    margin-top: 28rem;
    margin-left: 18rem;
}
.rounded{
    margin-left: -40rem;
}
.rounded:hover{
    cursor: pointer;
}
.mobile3{
    display: none;
}

@media  (max-width: 1250px) {
    .lorem{
        margin-left: 0.2rem;
    }
    .lorem-text{
        margin-left: 0.2rem;
    }
    .lorem-date{
        margin-left: 0.2rem;  
    }
    .progressbar{
        margin-left:1rem ;
    }
    
}
@media  (max-width: 992px) {
    .lorem{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lorem-text{
        margin-left: 1.5rem;
        margin-top: 0rem;
        font-size: 2rem;
    }
    .lorem{
        margin-top:2rem;
    }
    .lorem2  video {
        width: 315px;
    height: 220px;
    
    }
    .lorem3{
        width: 315px;
        height: 220px;
        
    }
    .lorem1{
        width: 315px;
        height: 220px;
    }
    .lorem1 p{
        font-size: 1.4rem;
    }
    .number{
        top:15rem;
        margin-right: 20rem; 
    }
    .plus{
        bottom: 15rem;
        margin-left: 16rem; 
       
    }
    .plus1{
        bottom:2rem;
        margin-right: 20rem;
    
    }
    .lorem-date{
        display: none;
    }
    .progressbar{
        display: none;
    }
    
}
@media  (max-width: 768px) {
    .lorem2  video {
        width: 240px;
       
    }
    .lorem3{
        width: 240px;
       
        
        
    }
    .lorem1{
        width: 240px;
       
    }
    .lorem-text{
        margin-left: 1rem;
    }
    .plus{
       
        margin-left: 12rem; 
       
    }

}
@media  (max-width: 640px) {
    .section3{
        display: none;
    }
    .mobile3{
        display: flex;
        visibility: visible;
    }
    .mobile3{
        width:640px;
        height:475px;
    }
    .part1cont{
        display:flex;
        flex-direction: row;
    }
    .part1text{
        width: 299px;
        height: 232px;
        font-size: 28.97px;
        background-color: #ed9e03;
        padding-left: 0.8rem;
        margin: 0.5rem;
    }
    .plus{
        top:51rem;
        margin-left: 15rem;
        
    }
    .part1text p{
        color: #FFFFFF;
    }
    .part1video video{
        width: 315px;
        height: 232px;
        margin: 0.5rem;
    }
            
    .part2cont{
        display:flex;
        flex-direction: row;
    }
    .part2video{
        background-color: #f6c506;
        width:324px;
        height: 233px;
        margin-top: -0.6rem;
        display: flex;
        justify-content: center;
        text-align:center;
        align-items: center;
    }
    .part2text{
        width: 307px;
        height: 233px;
        background-color: #f6c506;
        margin-top: -0.6rem;
    }
    .part2text img{
        padding: 0.2rem;
        margin-top: 0.5rem;
        margin-left: -0.5rem;
    }
    .part2text p{
        position: absolute;
        margin-top: -2.8rem;
        margin-left: 1rem;
        font-size: 13.05px;
        font-family: Arial;
        color: #8F8E8E;
        width: 15rem;
    }
    input{
        width:200px;
        height: 29px;
        border-radius: 10px 1px 1px 10px;
        border: 0.1px solid #FFFFFF;
    }
    button{
        width:70px;
        height: 29px;
        color: white;
        background-color: #c07f01;
        border-radius: 1px 10px 10px 1px;
        border: 0.1px solid #c07f01;
        font-size: 15px;
        font-family: arial;
    }

}
/*section4*/
.section4{
    width:100%;
    height: 66vh;
    background-color: #484848;
}
.container4{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 70rem;
    height: 24rem;
    margin-left: 7.6rem;
}
.title{
    font-size: 2.6rem;
    color: #F5C506;
    position: absolute;
    margin-left: 14rem;
    margin-top:1.9rem;
    font-family:'Asap', 'sans-serif';
    font-weight: 300;
}
.layout1{
    margin-top: 10rem;
    margin-left: 10rem;
}
.layout1 p{
   color: #FFFFFF;
   position: absolute;
   margin-top: -15.5rem;
   margin-left: -1rem;
   font-size: 1.1rem;
   font-family:'Asap', 'sans-serif';
   font-weight: 300 ;
}
.ellipse{
    position: absolute;
    margin-left: -22rem;
    margin-top: -2.2rem;
}
.layout2{
    margin-top: 12.5rem;
    margin-left: 1.5rem;
}
.layout3{
    margin-top: 19.5rem;
    margin-left: 1.5rem;
}
.list{
    margin-top: 12rem;
    margin-left: 6rem;
}
.list ul {
    list-style: none;
  }
.list ul li{
    color: #A9A9A7;
    font-size: 1.3rem;
    font-family: 'Asap', sans-serif;
    padding: 0.5rem;
}
.list   ul li::before {
    content: "\2022";
    color: #F5C506;
    font-weight: bold;
    display: inline-block; 
    width: 14px;
    height: 14px;
    margin-left: -1em;
  }
  @media   (max-width: 1200px) {
    .container4{
        margin-left: 0rem;
    }
    .layout1{
        margin-left: 4rem;
    }
    .layout2{
        margin-left: 0.5rem;
    }
    .layout3{
        margin-left: 0.5rem;
    }
    .list{
        margin-left: 4rem;
        width: 20rem
        
    }
  }
  @media  (max-width: 992px) {
    .container4{
        margin-left: 0rem;
    }
    .layout1{
        margin-left: 2rem;
    }
    .layout2{
        margin-left: 0.1rem;
    }
    .layout3{
        margin-left: 0.1rem;
    }
    .list{
        margin-left: 2rem;
        margin-top: 8rem;
        width: 14rem  
    }
    .title{
        margin-left: 1rem;
    }
}
@media   (max-width: 768px) {
    .list{
        display:none;
    }
    .title{
        margin-left: 1rem;
        font-size: 2.2rem;
    }
}
@media  (max-width: 640px) {
    .section4{
        width:640px;
        height: 66vh;
    }
    .container4{
        width:640px;
        margin-top: -0.5rem;
    }
    .layout1{
        margin-top: 7.5rem;
        padding-left: 0.3rem;
    }
    .layout2{
        margin-top: 10rem;
        padding-left: 0.4rem;
    }
    .layout3{
        margin-top: 16.7rem;
        padding-left: 0.4rem;
    }
}

/*footer*/

footer{
    width: 100%;
    height: 8vh;
    background-color: #4c4c4c;
}
.footer{
    display: flex;
    flex-direction: row;
    margin-left: 16rem;
}
.footer img{
    width: 54px;
    height: 54px;
}
.footer h1{
    font-size: 1.8rem;
    color: #FFFFFF;
    margin-top: 0.8rem;
    margin-left: 1rem;
    font-family: 'Lucida Sans',  sans-serif;
    font-style:italic;
    font-weight:300 ;
}
.footer h1:hover{
    text-shadow: 2px 2px 5px #F5C506;
}
@media  (max-width: 640px) {
    .footer{
        margin-left: 2rem;
       
    }
    .footer h1{
        font-size: 16px;
        margin-top: 1.5rem;
    }
    .footer img{
        width: 31px;
        height: 31px;
        margin-top: 1rem;
    }
    footer{
        width: 640px;
       
    }
   
}